black==24.3.0
click==8.1.7
fastapi==0.110.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
Hypercorn==0.16.0
hyperframe==6.0.1
mypy-extensions==1.0.0
pathspec==0.12.1
platformdirs==4.2.0
priority==2.0.0
pydantic==2.6.4
python-dotenv==1.0.1
pytube==15.0.0
regex==2023.12.25
starlette==0.36.3
toml==0.10.2
tomli==2.0.1
typing-extensions==4.10.0
wsproto==1.2.0
uvicorn==0.29.0
